# Node
node_modules/

# Build
dist/

# Environment
.env

# Logs
*.log

# Prisma generated database (SQLite only)
prisma/dev.db

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Prisma Client (if generated inside src)
/src/generated/prisma/